beautifulsoup4==4.11.1
django==4.0.3
mysqlclient==2.1.1
numpy==1.23.5
pandas==1.5.2
PyMuPDF==1.21.1
pymysql==1.0.2
python-dotenv==0.19.2
regex==2021.7.6
requests==2.28.1
scikit-learn==1.2.0
scipy==1.9.3
supervisor==4.2.4
tensorflow_hub==0.12.0
tensorflow-text==2.11.0
tensorflow==2.11.0