body {
  --text-opacity: 1;
  --text-color: 14 116 144; // rgb(14, 116, 144)
  --text-sidebar: 207 250 254; // rgb(207, 250, 254)
  --text-sidebar-menu: 255 255 255; // rgb(255, 255, 255)
  --text-sidebar-menu-hover: 103 232 249; // rgb(103, 232, 249)

  --bg-opacity: 1;
  --bg-sidebar: 8 145 178; // rgb(8, 145, 178)
}